@tailwind base;

@tailwind components;

@tailwind utilities;

.dragbar {
    -webkit-user-select: none;
    -webkit-app-region: drag;
  }

  .dragbar-button {
    -webkit-app-region: no-drag;
  }

  .titlebar {
    width: 400px;
    height: 40px;
    margin: 0 0 16px;
    padding: 8.6px 12px 6.5px 365px;
    background-color: #141414;
  }

  .background {
    background-color: #181818;
  }
  
  .overflow {
      overflow: hidden;
  }

  .menu-button {
    margin-top: 4px;
    width: 70%;
    cursor: pointer;
    -webkit-app-region: no-drag;
  }

  .menu-button:hover {
    border: 1px solid #ffa800;
  }

  .bg {
    background-color: #181818;
  }

  .jham-logo {
    width: 87px;
    height: 36px;
    margin: 0 21px 32px 0;
    padding-left: 20px;
    font-family: Rubik;
    font-size: 30px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #ffa800;
    display:inline-block;
  }

  .nav-bg {
    background-color: #181818;
  }
  .nav-button {
  margin-top: -5.2vh;
  margin-left: 52.2vh;
  position: fixed;
}
.test {
  margin-top: 20vh;
}